
#get_text_wrap table td {
  border: solid;
  margin-bottom: 1rem;
} 
#get_text_wrap h3 {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-2xl--line-height));
}
#get_text_wrap hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#get_text_wrap .chat-bubble {
  border-radius: 0.75rem;padding: 1rem;margin-bottom: 1rem;
}
#get_text_wrap .character-bubble {
  /* background-color: white; */
  background-color: var(--color-blue-50);
  align-self: flex-start;
  margin-right: auto;
}
#get_text_wrap .character-label {
  background-color: #3B82F6;color: white;
}
#get_text_wrap .label {
  font-weight: bold;
  margin-bottom: 0.25rem;padding: 0.25rem 0.75rem;border-radius: 0.5rem 0.5rem 0 0;display: inline-block;
}
